* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'Arial', 'Helvetica', 'sans-serif';
}

body {
  overflow-x: hidden;
}

.banner {
  margin-top: -0.01rem;
  margin-left: -0.01rem;
  width: 100%;
  height: 0.9rem;
  background: url("../img/about/a1.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}

.banner > img {
  width: 1.6rem;
  height: 0.3rem;
  margin-right: 0.72rem;
  margin-top: 0.34rem;
}

.banner > div {
  margin-right: 0.32rem;
  margin-top: 0.33rem;
  display: flex;
  position: relative;
}

.banner > div .hover {
  position: absolute;
  top: -0.17rem;
  left: 3.34rem;
  width: 1.14rem;
  height: 0.74rem;
  z-index: 2;
}

.banner > div .nav {
  width: 4.37rem;
  height: 0.35rem;
  position: relative;
  z-index: 3;
}

.banner > div a {
  width: 1.14rem;
  height: 0.74rem;
  position: absolute;
  z-index: 5;
}

.banner > div .sy {
  top: -0.18rem;
  left: -0.39rem;
}

.banner > div .cpjs {
  top: -0.18rem;
  left: 0.9rem;
}

.banner > div .zsjm {
  top: -0.18rem;
  left: 2.13rem;
}

.banner > div .gywm {
  top: -0.18rem;
  left: 3.34rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d8d8d8;
  overflow: hidden;
}

main .one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .one .a {
  margin-top: 0.56rem;
  position: relative;
  z-index: 2;
}

main .one .b {
  margin-top: -0.54rem;
  position: relative;
  z-index: 1;
}

main .one .c {
  width: 7.3rem;
  height: 21.11rem;
  background: url("../img/about/a18.png") no-repeat 3px;
  margin-top: -1.18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.26rem;
}

main .one .c .yellow {
  width: 6.63rem;
  height: 0.24rem;
  background: #fcb800;
  margin-top: 1.17rem;
}

main .one .c .c1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.35rem;
  margin-bottom: 0.65rem;
}

main .one .c .c1 p {
  width: 5.56rem;
  font-size: 0.22rem;
  font-family: SourceHanSansSC-Regular;
  font-weight: 400;
  color: #666666;
  line-height: 0.28rem;
}

main .one .c .c1 .explain {
  font-weight: bold;
  margin-top: 0.45rem;
}

main .one .c .c2 {
  margin-bottom: 0.5rem;
}

main .one .c .c3 {
  width: 6.6rem;
  margin-left: 1rem;
}

main .one .c .c3 .title {
  font-size: 0.36rem;
  font-family: SourceHanSansSC-Heavy;
  font-weight: 800;
  color: #666666;
}

main .one .c .c3 .content {
  width: 6rem;
  height: 2.86rem;
  font-size: 0.2rem;
  font-family: SourceHanSansSC-Normal;
  font-weight: 400;
  color: #666666;
  line-height: 0.44rem;
}

main .one .c .c4 {
  width: 6.6rem;
  margin-top: 0.35rem;
  display: flex;
  margin-left: 1rem;
}

main .one .c .c4 .left {
  width: 3.17rem;
}

main .one .c .c4 .left p {
  font-size: 0.22rem;
  font-family: SourceHanSansSC-Regular;
  font-weight: 400;
  color: #666666;
  line-height: 0.31rem;
}

main .one .c .c4 .left .cont2 {
  margin-top: 0.3rem;
}

main .one .c .c4 .right {
  display: flex;
  margin-left: 0.1rem;
}

main .one .c .c4 .right span {
  width: 0.4rem;
  height: 2.47rem;
  background: #fcb800;
}

main .one .c .c4 .right img {
  width: 2.46rem;
  height: 3.69rem;
}

main .one .c .c5 {
  display: flex;
  flex: 1;
  width: 6.6rem;
}

main .one .c .c5 .left {
  align-self: flex-end;
  position: relative;
  width: 3.48rem;
  height: 3.48rem;
  display: flex;
  margin-bottom: 0.41rem;
  margin-right: 0.23rem;
}

main .one .c .c5 .left span {
  width: 3.48rem;
  height: 2.89rem;
  background: #fcb800;
  position: absolute;
  top: 0;
  left: 0;
}

main .one .c .c5 .left img {
  position: relative;
  width: 2.38rem;
  height: 3.48rem;
  left: 0.34rem;
}

main .one .c .c5 .right {
  margin-top: 0.2rem;
}

main .one .c .c5 .right .title {
  font-size: 0.36rem;
  font-family: SourceHanSansSC-Heavy;
  font-weight: 800;
  color: #666666;
}

main .one .c .c5 .right .explain {
  width: 2.2rem;
  height: 0.57rem;
  font-size: 0.2rem;
  font-family: SourceHanSansSC-Normal;
  font-weight: 400;
  color: #666666;
  line-height: 0.34rem;
}

main .one .c .c5 .right .content {
  width: 2.7rem;
  height: 2.65rem;
  font-size: 0.22rem;
  font-family: SourceHanSansSC-Regular;
  font-weight: 400;
  color: #666666;
  line-height: 0.31rem;
  margin-top: 0.18rem;
  text-align: justify;
  text-justify: newspaper;
}

main .one .e {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 3.8rem;
  position: relative;
  margin-bottom: 0.7rem;
}

main .one .e .left {
  position: relative;
  z-index: 3;
  left: 0.86rem;
  bottom: -0.38rem;
}

main .one .e .left .title {
  font-size: 0.36rem;
  font-family: SourceHanSansSC-Heavy;
  font-weight: 800;
  color: #505050;
}

main .one .e .left .explain {
  width: 2.7rem;
  height: 0.51rem;
  font-size: 0.2rem;
  font-family: SourceHanSansSC-Normal;
  font-weight: 400;
  color: #505050;
  line-height: 0.31rem;
}

main .one .e .left .content {
  width: 2.88rem;
  height: 1.17rem;
  font-size: 0.25rem;
  font-family: SourceHanSansSC-Regular;
  font-weight: 400;
  color: #666666;
  line-height: 0.31rem;
  margin-top: 0.15rem;
}

main .one .e .right {
  width: 4.07rem;
  height: 3.8rem;
  display: flex;
  position: absolute;
  right: 0.7rem;
}

main .one .e .right span {
  width: 4.07rem;
  height: 2.68rem;
  background: #fcb800;
  position: absolute;
  bottom: 0;
}

main .one .e .right img {
  width: 2.93rem;
  height: 3.8rem;
  position: absolute;
  right: 0.13rem;
  z-index: 1;
}

main .one .f {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 1.14rem;
}

main .one .f .left {
  width: 4.18rem;
  height: 3.24rem;
  display: flex;
  position: relative;
  left: 0.43rem;
}

main .one .f .left span {
  width: 100%;
  height: 2.76rem;
  background: #fcb800;
  position: absolute;
  bottom: 0;
}

main .one .f .left img {
  width: 2.43rem;
  height: 3.24rem;
  position: relative;
}

main .one .f .right {
  position: absolute;
  right: 0.55rem;
  bottom: -0.4rem;
}

main .one .f .right .title {
  font-size: 0.36rem;
  font-family: SourceHanSansSC-Heavy;
  font-weight: 800;
  color: #505050;
}

main .one .f .right .explain {
  font-size: 0.2rem;
  font-family: SourceHanSansSC-Normal;
  font-weight: 400;
  color: #505050;
  line-height: 0.31rem;
}

main .one .f .right .content {
  width: 3.75rem;
  height: 1.46rem;
  font-size: 0.25rem;
  font-family: SourceHanSansSC-Regular;
  font-weight: 400;
  color: #666666;
  line-height: 0.31rem;
  margin-top: 0.05rem;
}

main .one .g {
  position: relative;
}

main .one .h {
  width: 100%;
  height: 13.17rem;
  background: #fff;
  margin-top: -0.54rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .one .h .one {
  margin-top: 0.88rem;
  display: flex;
  flex-direction: row;
}

main .one .h .one .left {
  width: 3.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .one .h .one .left .title {
  font-size: 0.22rem;
  font-family: SourceHanSansSC-Normal;
  font-weight: 400;
  color: #666666;
  line-height: 0.26rem;
  margin-top: 0.2rem;
}

main .one .h .one .left .content {
  font-size: 0.18rem;
  font-family: SourceHanSansSC-Regular;
  font-weight: 400;
  color: #666666;
  line-height: 0.27rem;
}

main .one .h .one .right {
  width: 1.3rem;
  margin-left: 0.9rem;
}

main .one .h .two {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.36rem;
}

main .one .h .two .title {
  font-size: 0.22rem;
  font-family: SourceHanSansSC-Normal;
  font-weight: 400;
  color: #666666;
  line-height: 0.26rem;
  margin-top: 0.2rem;
}

main .one .h .three {
  width: 3.46rem;
  height: 3.46rem;
  margin-top: 0.18rem;
  margin-bottom: 0.23rem;
}

main .one .h .four {
  width: 3.46rem;
  font-size: 0.22rem;
  font-family: SourceHanSansSC-Normal;
  font-weight: 400;
  color: #666666;
  line-height: 0.26rem;
  text-align: center;
}

main .one .h .five {
  margin: 0.47rem 0 0.3rem;
}

main .one .h .six {
  display: flex;
}

main .one .h .six > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .one .h .six .title {
  font-size: 0.22rem;
  font-family: SourceHanSansSC-Normal;
  font-weight: 400;
  color: #666666;
  line-height: 0.26rem;
}

main .one .h .six img {
  width: 1.88rem;
  height: 1.88rem;
}

main .one footer {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  height: 0.8rem;
  background: #ff910f;
}

main .one footer a {
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

main .one footer a img {
  width: 1.69rem;
  height: 0.32rem;
}

main .one footer a:first-child {
  background: #fcb800;
}
